{% extends 'base.html' %}

{% block content %}
<section>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class='text-center my-5'>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class='container'>
    <form action=# method='post'>
      <div class='form-group text-center'>
        <label for='league-name'>League Name:</label>
        <input id='league-name' type='text' name='name' required/>
        <label for='latitude'>Latitude:</label>
        <input id='latitude' type='text' name='latitude' required/>
        <label for='longitude'>Longitude:</label>
        <input id='longitude' type='text' name='longitude' required/>
        <lable for='price'>Price:</lable>
        <input id='price' type='number' name='price' required/>
      </div>
      <div class='text-center'>
        <button id='submit' type='submit'>Submit</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
