{% extends 'base.html' %}

{% block content %}
<section>
  <div class='container text-center mb-3'>
    <span class='mx-3'>Search center: {{location}}</span>
    <span class='mx-3'>Radius: {{radius}}</span>
    <span class='mx-3'>Budget: {{budget}}</span>
  </div>
  <div class='container text-center mb-3'>
    <h3>You can sponsor all of these leagues:</h3>
    {% if nearby_leagues %}
    {% for league in nearby_leagues %}
    <h6 class='mx-2 display-5'>{{league.name}} </h6>
    {% endfor %}
    {% else %}
    <h6>None</h6>
    {% endif %}
  </div>
  <div class='container'>
    <table class='table'>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Price</th>
      </tr>
      {% for league in leagues %}
      <tr>
        <td>{{league.name}}</td>
        <td>{{league.latitude}}</td>
        <td>{{league.longitude}}</td>
        <td>{{league.price}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
{% endblock %}
