{% extends 'base.html' %}

{% block content %}
<section>
  <div class='container text-center mb-3'>
    <span>Search center: {{location}}</span>
    <span>Radius: {{radius}}</span>
    <span>Budget: {{budget}}</span>
  </div>
  <div class='container text-center mb-3'>
    <span>Nearby Leagues:</span><br>
    {% if nearby_leagues %}
    {% for league in nearby_leagues %}
    <span>{{league.name}} </span>
    {% endfor %}
    {% else %}
    <span>None</span>
    {% endif %}
  </div>
  <div class='container'>
    <table class='table'>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Price</th>
      </tr>
      {% for league in leagues %}
      <tr>
        <td>{{league.name}}</td>
        <td>{{league.latitude}}</td>
        <td>{{league.longitude}}</td>
        <td>{{league.price}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
{% endblock %}
